@import "joli/css/jquery/jquery-ui.min";
@import "joli/css/bootstrap/bootstrap.min";
@import "joli/css/fontawesome/font-awesome";
@import "joli/css/summernote/summernote";
@import "joli/css/codemirror/codemirror";
@import "joli/css/nvd3/nv.d3";
@import "joli/css/mcustomscrollbar/jquery.mCustomScrollbar";
@import "joli/css/fullcalendar/fullcalendar";
@import "joli/css/blueimp/blueimp-gallery.min";
@import "joli/css/rickshaw/rickshaw";
@import "joli/css/dropzone/dropzone";
@import "joli/css/animate/animate.min";
@import "joli/css/theme-default";

.logo-edit {
  width: 25%;
  margin-top: -10px;
}
.user-name {
  font-size: 15px;
  font-weight: bold;
  color: #31A5D5;
}
.avatar-user {
  width: 30px;
  height: 30px;
}
.background-group {
  width: 100%;
  height: 180px;
}

.group-cover {
  width: 100%;
  height: 200px;
}

.avatar-group {
  width: 50px;
  height: 50px;
}
.avatar-search {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
table.table-user-search tr {
  height: 100px;
  border-bottom: 1px solid rgba(230, 225, 225, 0.82);
  margin-top: 5px;
  margin-bottom: 5px;
}
