@import "joli/css/jquery/jquery-ui.min";
@import "joli/css/bootstrap/bootstrap.min";
@import "joli/css/fontawesome/font-awesome";
@import "joli/css/summernote/summernote";
@import "joli/css/codemirror/codemirror";
@import "joli/css/nvd3/nv.d3";
@import "joli/css/mcustomscrollbar/jquery.mCustomScrollbar";
@import "joli/css/fullcalendar/fullcalendar";
@import "joli/css/blueimp/blueimp-gallery.min";
@import "joli/css/rickshaw/rickshaw";
@import "joli/css/dropzone/dropzone";
@import "joli/css/animate/animate.min";
@import "joli/css/theme-default";

.logo-edit {
  width: 25%;
  margin-top: -10px;
}
.user-name {
  font-size: 15px;
  font-weight: bold;
  color: #31A5D5;
}
.avatar-user {
  width: 30px;
  height: 30px;
}
